<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1044458932008-ns4rqmcie1eppui21g57fsqnitbnji22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044458932008-ns4rqmcie1eppui21g57fsqnitbnji22</string>
	<key>API_KEY</key>
	<string>AIzaSyC4pCjpy8QM21zNX6Yi0T3Vy5v8tr_-Wd0</string>
	<key>GCM_SENDER_ID</key>
	<string>1044458932008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bradleywalsh.Parkour</string>
	<key>PROJECT_ID</key>
	<string>parkour-8a844</string>
	<key>STORAGE_BUCKET</key>
	<string>parkour-8a844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044458932008:ios:f4bd31834537fd0b</string>
	<key>DATABASE_URL</key>
	<string>https://parkour-8a844.firebaseio.com</string>
</dict>
</plist>